a {
  text-decoration: none;
  color: #000;
}

body {
  width: 80%;
  margin: 0 auto;
}

.footer {
  border-top: 2px solid black;
  margin-top: 50px;
  text-align: center;
  padding: 30px;
  font-weight: bold;
  font-size: 18px;
}

@import "./blocks/listing_header";
@import "./blocks/product";
@import "./blocks/form";