a {
  text-decoration: none;
  color: #000; }

body {
  width: 80%;
  margin: 0 auto; }

.footer {
  border-top: 2px solid black;
  margin-top: 50px;
  text-align: center;
  padding: 30px;
  font-weight: bold;
  font-size: 18px; }

.listing-header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin: 0;
  border-bottom: 2px solid black; }
  .listing-header h3 {
    font-size: 32px; }
  .listing-header-buttons-wrap {
    width: 170px;
    display: flex;
    justify-content: space-between; }
  .listing-header-button {
    background-color: white;
    border: 2px solid black;
    padding: 3px 6px;
    box-shadow: 2px 3px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    font-weight: bold; }
    .listing-header-button:hover {
      transform: translateY(-1px);
      box-shadow: 3px 4px rgba(0, 0, 0, 0.4); }

.products_list {
  margin: 40px 0 0;
  display: grid;
  gap: 20px;
  grid-template-columns: auto auto auto auto; }
  .products_list .product {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 3px solid black;
    padding: 4px 6px;
    height: 170px;
    font-size: 18px;
    font-weight: bold;
    position: relative; }
    .products_list .product-check {
      position: absolute;
      width: 20px;
      height: 20px;
      top: 30px;
      left: 20px;
      outline: 2px solid black; }

form {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 20px;
  width: 40%;
  min-width: 400px;
  margin: 20px 0;
  font-weight: bold; }
  form .dynamic {
    grid-column: 1 / 3;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 20px; }
  form .desc {
    grid-column: 1 / 3; }
  form input {
    height: 20px; }

.error {
  display: block;
  width: 40%;
  text-align: center;
  color: red;
  margin: 20px 0 0 0;
  font-size: 18px;
  font-weight: bold; }
