form {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 20px;
  width: 40%;
  min-width: 400px;
  margin: 20px 0;
  font-weight: bold;

  .dynamic {
    grid-column: 1 / 3;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 20px;
  }

  .desc {
    grid-column: 1 / 3;
  }
  input {
    height: 20px;
  }

}

.error {
  display: block;
  width: 40%;
  text-align: center;
  color: red;
  margin: 20px 0 0 0;
  font-size: 18px;
  font-weight: bold;
}