.listing-header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin: 0;
  border-bottom: 2px solid black;
  h3 {
    font-size: 32px;
  }

  &-buttons-wrap {
    width: 170px;
    display: flex;
    justify-content: space-between;
  }

  &-button {
    background-color: white;
    border: 2px solid black;
    padding: 3px 6px;
    box-shadow: 2px 3px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    font-weight: bold;

    &:hover {
      transform: translateY(-1px);
      box-shadow: 3px 4px rgba(0, 0, 0, 0.4);

    }
  }
}