.products_list {
  margin: 40px 0 0;
  display: grid;
  gap: 20px;
  grid-template-columns: auto auto auto auto;

  .product {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 3px solid black;
    padding: 4px 6px;
    height: 170px;
    font-size: 18px;
    font-weight: bold;
    position: relative;
    &-check {
      position: absolute;
      width: 20px;
      height: 20px;
      top: 30px;
      left: 20px;
      outline: 2px solid black;
    }
    }
}
